

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color:  rgb(185, 185, 185);
}


.content {
    display: flex;

    height: 100vh;
    width: 100vw;
}

.right {
    width: 50vw;
   

    display: flex;
    flex-flow: column nowrap;
   justify-content: center; 

   background-color: #000000;
}

.content, .logo {
    display: flex;
    flex-flow: row wrap;
}

.picture {
    background-image: url(../images/background-img.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 40vw;
}

.logo {
    display: flex;
    position: relative;
    top: 20vh;
    gap: 2vh;
    padding: 10px 0;

    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
}


.forms-container {
    margin-top: 10%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.form-container {
    display: flex;
    
}

.form-title {
    
}



button {
    color: white;
    background-color: #000000;
    width: 200px;
    border-radius: 4px;
    border-color: #596D48;
}

.form-container {
    margin-bottom: 20px;
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    font-size: 0.7rem;
    text-transform: uppercase;
    opacity: 80%;
}

.form-title {
width: 100%;
font-size: 1.8rem;
font-weight: 100;
}

input {
    border-width: 3px;
    border-radius: 2px;
    
    padding: 6px 8px;

    appearance: none;
     -webkit-appearance: none;
  -moz-appearance: none;
}

input:focus {
    outline:none;
    

}

input:invalid {
    border-color: red;
}

input:valid {
    border-color: green;
    
}

.logo {
    background-color: rgba(0, 0, 0, 0.7);
}