

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color:  rgb(185, 185, 185);
}


.content {
    display: flex;

    height: 100vh;
    width: 100vw;
}

.right {
    width: 60vw;
   

    display: flex;
    flex-flow: column nowrap;
   justify-content: center; 

   background-color: #121113;
}

.content, .logo {
    display: flex;
    flex-flow: row wrap;
}

.picture {
    background-image: url(../images/background-img.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 40vw;
}

.logo {
    display: flex;
    position: relative;
    top: 20vh;
    gap: 2vh;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.7);

    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
}


.forms-container {
    margin-top: 10%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}





.form-row {
    display: flex;
    gap: 70px;
    width: 100%;
}




button {
    color: white;
    background: none;
    width: 200px;
    border-radius: 7px;
    border-color: #596D48;
    border-width: 3px;

    font-size: inherit;
    font-family: inherit;
}

button:hover {
    background-color: #596D48;
}

.form-container {
    margin-bottom: 20px;
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    font-size: 0.9rem;
    text-transform: uppercase;
    opacity: 80%;
    position: relative;
}

.form-title {
width: 100%;
font-size: 1.8rem;
font-weight: 100;
}

input {
    border-width: 3px;
    border-radius: 7px;
    
    font-family: inherit;
    font-size: inherit;
    padding: 6px 8px;

    color: white;
    outline: none;
    background: none;

    appearance: none;
     -webkit-appearance: none;
  -moz-appearance: none;


}

input:hover {
   
}

input:focus {
    border-color: cyan;

}



input:user-invalid {
    border-color: red;
}

input:user-valid {
    border-color: green;
    
}

label {
    position: absolute;
    left: 1rem;
    top: 0.3rem;
    padding: 5px;
    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    background-color: #121113;
}

label:has(+ input:focus), label:has(+ input:not(:placeholder-shown)){
    top:-0.7rem;
    font-size: 0.7rem;
    left: 0.4rem;
}